h1. $bundle.getString("softwareComponent") $compartment.vendor $compartment.softwareComponent
$compartment.getDescription()

#if ($compartment.getDevelopmentComponents())
h2. $bundle.getString("developmentComponents")

||$bundle.getString("vendor")||$bundle.getString("developmentComponent")||$bundle.getString("dcType")||$bundle.getString("description")||
#foreach($dc in $compartment.getDevelopmentComponents())
|$dc.getVendor()|[$dc.getName()|$wikiSpace:${trackName}_$dc.getNormalizedName("_")]|$dc.getType().toString()|$dc.getCaption()|
#end  
*$bundleHelper.render("dcsInCompartment.table.caption", $compartment.getName())*
#end
