<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>$component.getName()</title>
<link rel="stylesheet" type="text/css" href="../css/report.css">
</head>
<body>
<h1>$bundle.getString("developmentComponent") $component.getName()</h1>
<h2>$bundle.getString("caption")</h2>
<p>$component.getCaption()</p>

#if (!$component.getDescription().isempty())
<h2>$bundle.getString("description")</h2>
<p>$component.getDescription()</p>
#end
#if (!$component.getUsedDevelopmentComponents().isEmpty())
<h2>$bundle.getString("usedComponents")</h2>

#set ($imageSuffix = '.svg')

<img src="images/$component.getVendor()~$component.getName().replace('/', '~')$imageSuffix">
<table>
  <caption>$bundleHelper.render("usedComponents.table.caption", $component.getName())</caption>
  <thead>
  <th>$bundle.getString("developmentComponent")</th>
  <th>$bundle.getString("dcType")</th>
  <th>$bundle.getString("vendor")</th>
  <th>$bundle.getString("PublicPartName")</th>
  <th>$bundle.getString("buildTime")</th>
  <th>$bundle.getString("runTime")</th>
  <th>$bundle.getString("softwareComponent")</th>
  </thead>
  <tbody>
#foreach($pp in $component.getUsedDevelopmentComponents())
#set($usedDC = $dcFactory.get($pp))
    <tr>
      <td>$pp.getComponentName()</td>
      <td>$usedDC.getType().toString()</td>
      <td>$pp.getVendor()</td>
      <td>$pp.getName()</td>
      <td>#if($pp.isAtBuildTime())x#end</td>
      <td>#if($pp.isAtRunTime())x#end</td>
      <td>#if (!$bundleHelper.isNull($usedDC.getCompartment()))$usedDC.getCompartment().getSoftwareComponent()#end</td>
    </tr>
#end  
  </tbody>
</table>
#end

#if (!$component.getUsingDevelopmentComponents().isEmpty())
<h2>$bundleHelper.render("usingComponents", $component.getName())</h2>

#set ($suffix = ".html")
<ul>
#foreach($usingDC in $component.getUsingDevelopmentComponents())
  <li><a href="../$usingDC.getCompartment().getSoftwareComponent()/$usingDC.getVendor()~$usingDC.getName().replace('/', '~')$suffix">$usingDC.getName()</a></li>
#end
</ul>

<img src="images/$component.getVendor()~$component.getName().replace('/', '~')-usingDCs.svg">
#end

#if (!$component.getPublicParts().isEmpty())
<h2>$bundle.getString("publicParts.section.caption")</h2>
<table>
  <caption>$bundleHelper.render("publicParts.table.caption",$component.getName())</caption>
  <thead>
  <th>$bundle.getString("PublicPartName")</th>
  <th>$bundle.getString("ppType")</th>
  <th>$bundle.getString("caption")</th>
  <th>$bundle.getString("description")</th>
  </thead>
  <tbody>
#foreach($pp in $component.getPublicParts())
    <tr>
      <td>$pp.getPublicPart()</td>
      <td>$pp.getType().toString()</td>
      <td>$pp.getCaption()</td>
      <td>$pp.getDescription()</td>
    </tr>
#end  
  </tbody>
</table>
#end

#if (!$webServices.isEmpty())
<h2>$bundle.getString("WebServices")</h2>
#foreach($service in $webServices)
  <h3>$service.getName()</h3>
  <p>$bundle.getString("Endpoint"): <span class="code">$service.getEndPointClass()</span></p>
<table>
  <caption>$bundleHelper.render("methods.table.caption",$component.getName())</caption>
  <thead>
  <th>$bundle.getString("signature")</th>
  <th>$bundle.getString("originalName")</th>
  <th>$bundle.getString("mappedName")</th>
  <th>$bundle.getString("caption")</th>
  <th>$bundle.getString("description")</th>
  </thead>
  <tbody>
#foreach($method in $service.getMethods())
    <tr>
      <td><a href="#$method.getOriginalName()">$method.getName()</a></td>
      <td>$method.getOriginalName()</td>
      <td>$method.getMappedName()</td>
      <td>$method.getDescription()</td>
      <td>Langbeschreibung...</td>
    </tr>
#end  
  </tbody>
</table>

<h3>$bundle.getString("WebServiceMethods")</h3>
#foreach($m in $service.getMethods())
<h4><a name="$m.getOriginalName()">$m.getMappedName()</a></h4>
<p>$m.getDescription()</p>
<table>
  <caption>$bundleHelper.render("parameters.table.caption",$m.getMappedName())</caption>
  <thead>
  <th>$bundle.getString("parameter")</th>
  <th>$bundle.getString("originalName")</th>
  <th>$bundle.getString("type")</th>
  <th>$bundle.getString("description")</th>
  </thead>
  <tbody>
#foreach($parameter in $m.getParameters())
    <tr>
      <td>$parameter.getName()</td>
      <td>$parameter.getMappedName()</td>
      <td>$parameter.getType().getName()</td>
      <td>$parameter.getDescription()</td>
    </tr>
#end
  </tbody>
</table>
#end
#end
#end

#if (!$externalLibraries.isEmpty())
<h3>$bundle.getString("external.libraries.title")</h3>
<table>
  <caption>$bundleHelper.render("external.libraries.caption",$component.getName())</caption>
  <thead>
  <th>$bundle.getString("library")</th>
  <th>$bundle.getString("license")</th>
  </thead>
  <tbody>
#foreach($descriptor in $externalLibraries)
    <tr>
      <td>$descriptor.getArchive()</td>
      <td>$descriptor.getLicense().getName()</td>
    </tr>
#end
  </tbody>
</table>
#end
</body>
</html>