h1. $bundle.getString("external.library.overview.title", $configuration.getName())

#foreach($license in $licenseContainer.getLicenses())
h2. $license.getName()

||$bundle.getString("developmentComponent")||$bundle.getString("library")||$bundle.getString("license")||
#foreach($component in $licenseContainer.getComponents($license))
#set($componentDescriptor = $licenseContainer.getExternalLibraryComponentDescriptor($license, $component))
#set($component = $descriptor.getComponent())
#foreach($licenseDescriptor in $componentDescriptor.getLicenseDescriptors()) 
|$component.getVendor() $component.getName()|$licenseDescriptor.getArchive()|[$licenseDescriptor.getLicense().getName()|$licenseContainer.getLicenseURL($licenseDescriptor)]|
#end
#end
#end